html, body{
    height: 100vh;
    width: 100vw;
    min-width: 320px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Baloo', cursive;
    font-size: 16px;
    background-color: #0262B6;
     -ms-overflow-style: none;
}

/*scrollbars*/
body::-webkit-scrollbar{
    display: none;
}

.main{
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 5px;
    min-width: 320px;
    min-height: 480px;
    /*max-width: 1680px;*/
    max-width: 768px;
    max-height: 1050px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-city{
    text-align: right;
}

.header-date{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.location-text{
    background-color: #0262B6;
    overflow: hidden;
    white-space: nowrap;
}

.location-text p{
    font-size: 1.2em;
    padding: 5px;
    height: 100%;
    text-transform: capitalize;
    background-color: #0262B6;
    color: white;
}

.fore{
    position: relative;
    background-color: #ededed;
    background-color: #f3f3f3;
    color: black;
    text-align: center;
    padding: 0;
}

.fore::after{
    content: '';
    position: absolute;
    transform: translate(-50%, -105%);
    height: 90%;
    width: 100%;
    border-right: 1px solid #d3d3d3;
}

.fore:last-child::after{
    border-right: none;
}

.fore-icon{
    font-weight: bolder;
    font-size: 3.5em;
}

.today-weather{
    position: relative;
    top: -20px;
    text-align: center;
    font-size: 1.3em;
}

.today-icon{
    display: inline-block;
    position: relative;
    top: 25px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-size: 5em;
    transform: scale(2.5, 2.5);
    text-align: center;
}

.today-temp{
    position: relative;
    font-size: 5.5em;
    text-align: center;
}

.cold{
    color: #2980B9;
}
.hot{
    color: #D35400;
}
.fore-day, .fore-temp-high, .fore-temp-low{
    position: relative;
    top: -10px;
}

.fore-day{
    position: relative;
    top: 5px;
    text-transform: capitalize;
}

.more-info-container{
    padding: 20px 0;
    color: white;
    font-size: 1.2em;
}
.more-info-description{
    width: 100vw;
}

.more-info-container .row:last-of-type{
    position: relative;
    top: 20px;
    padding-bottom: 20px;
}

.left{
    text-align: right;
}

@media screen and (min-width: 768px){

    .location-text > p{
        font-size: 1.7em;
    }

    .today-icon{
        font-size: 150px;
        position: relative;
        top: 40px;
    }

    .today-temp{
        font-size: 100px;
        text-align: center;
        top: 15px;
    }

    .fore{
        background-color: transparent;
        color: white;
        top: 70px;
    }

    .fore-icon{
        font-size: 90px;
    }

    .fore-day{
        font-size: 1.4em;
    }

    .fore-temp-low, .fore-temp-high{
        font-size: 1.3em;
    }

    .today-weather{
        font-size: 1.7em;
        top: 10px;
    }

    .fore-temp-high{
        color: white;
        top: -15px;
    }

    .header-city{
        position: relative;
        top: -10px;
    }

    .header-date, .header-city{
        text-align: center;
    }
}

/*animations*/
.spin-container{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #2980B9;
}

.spinner {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -400%);
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
